.cardLink {
  text-decoration: none;
  display: block;
}

.card {
  position: relative;
  width: 300px; /* largeur fixe */
  height: 400px; /* hauteur fixe */
  overflow: hidden;
  border-radius: 10px;
  color: inherit;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-4px);
}

.imageWrapper {
  width: 100%;
  height: 200px; /* moitié supérieure pour image */
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(162, 73, 65, 0.85);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  padding: 1.5rem;
  text-align: center;
  transition: opacity 0.3s ease;
}

.card:hover .overlay {
  opacity: 1;
}

.content h3 {
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}

.content p {
  margin-bottom: 1rem;
  font-size: 1rem;
}

.button {
  background-color: #fff;
  color: #a24941;
  border: none;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.button:hover {
  background-color: #77342e;
  color: #fff;
  transition: 0.4s;
}
