.footer {
  background-color: #000;
  color: #a24941;
  padding: 2rem 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  gap: 1.5rem;
}

.footerSection {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.socials {
  gap: 1rem;
}

.links {
  gap: 1rem;
}

/* Responsive mobile */
@media (max-width: 768px) {
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footerSection {
    flex-direction: column;
    gap: 0.5rem;
  }

  .links {
    flex-direction: column;
    gap: 0.5rem;
  }
}
