@import "tailwindcss";
@font-face {
  font-family: "Gliker";
  src: url("/fonts/gliker/gliker-regular.ttf") format("ttf"),
    url("/fonts/gliker/gliker-regular.woff") format("woff"),
    url("/fonts/gliker/gliker-regular.woff2") format("woff2"),
    url("/fonts/gliker/gliker-regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Gliker", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #a24a3b;
}
h1,
h2,
.title {
  font-family: "Gliker", serif;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

:root {
  --background: #f5e7cf;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5e7cf;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #a24a3b;
  font-family: Arial, Helvetica, sans-serif;
}
