@import "tailwindcss";
@font-face {
  font-family: "Gliker";
  src:
    url("/fonts/gliker/gliker-regular.ttf") format("ttf"),
    url("/fonts/gliker/gliker-regular.woff") format("woff"),
    url("/fonts/gliker/gliker-regular.woff2") format("woff2"),
    url("/fonts/gliker/gliker-regular.eot") format("eot");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Didot";
  src:
    url("/fonts/didot/GFSDidot-Regular.ttf") format("ttf"),
    url("/fonts/didot/GFSDidot-Regular .woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Gliker", sans-serif;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: #333;
}
h1,
h2,
.title {
  font-family: "Gliker", serif;
  font-size: 2rem;
}
h2 {
  color: #a23a2b;
}
#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
main {
  flex: 1;
}

:root {
  --background: #f5e7cf;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5e7cf;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
}
@media (max-width: 768px) {
  h2 {
    font-size: 1.5rem;
  }
}
