.hero {
  padding: 5rem 2rem;
  position: relative;
  height: 80vh;
  width: 100%;
  background-image: url("/images/accueil1.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: white;
  overflow: hidden;
}

.hero h1 {
  font-size: 2.5rem;
  font-weight: normal;
  margin-bottom: 1rem;
}

.hero p {
  font-size: 1.2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(20, 20, 20, 0.4);
  z-index: 1;
}

.content {
  position: relative;
  z-index: 2;
  padding: 2rem;
}
.contentTop {
  z-index: 2;
  max-width: 800px;
  margin-top: 4rem;
}
.paccueil {
  z-index: 2;
  text-align: center;
  font-size: 1.1rem;
  margin-bottom: 2rem;
}
